.navbar {
  background-color: #24143d;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #a78bfa;
}
